:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(214, 209, 219);
    --entry: rgb(97, 97, 99);
    --primary: rgb(37, 15, 160);
    --secondary: rgb(103, 92, 143);
    --tertiary: rgb(40, 40, 43);
    --gray: rgb(137, 137, 141);
    --content: rgb(77, 23, 148);
    --code-block-bg: rgb(15, 37, 124);
    --code-bg: rgb(47, 15, 136);
    --border: rgb(89, 51, 192);
    --darkcolor: #5c709e;
    --lightcolor: #898c92;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: rgb(146, 148, 153);
    --entry: rgb(160, 160, 167);
    --primary: rgb(118, 118, 129);
    --secondary: rgb(135, 137, 139);
    --tertiary: rgb(44, 45, 48);
    --content: rgb(10, 10, 14);
    --code-block-bg: rgb(18, 18, 20);
    --code-bg: rgb(27, 28, 32);
    --border: rgb(23, 22, 26);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}

body {
    
    background-image: url('BTTH2.jpeg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}