:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(114, 12, 209);
    --entry: rgb(42, 40, 175);
    --primary: rgb(37, 15, 160);
    --secondary: rgb(103, 92, 143);
    --tertiary: rgb(41, 14, 160);
    --gray: rgb(51, 45, 128);
    --content: rgb(77, 23, 148);
    --code-block-bg: rgb(15, 37, 124);
    --code-bg: rgb(47, 15, 136);
    --border: rgb(89, 51, 192);
    --darkcolor: #5c709e;
    --lightcolor: #0a245a;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: rgb(19, 59, 139);
    --entry: rgb(8, 8, 95);
    --primary: rgb(12, 12, 170);
    --secondary: rgb(26, 55, 83);
    --tertiary: rgb(38, 80, 165);
    --content: rgb(28, 28, 194);
    --code-block-bg: rgb(15, 15, 189);
    --code-bg: rgb(11, 30, 139);
    --border: rgb(100, 60, 175);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}

body {
    
    background-image: url('BTTH2.jpeg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}